---
import Logo from '~/components/Logo.astro';
import ToggleTheme from '~/components/common/ToggleTheme.astro';
import ToggleMenu from '~/components/common/ToggleMenu.astro';
import { Link } from 'astro-link';
import { getHomePermalink, getAsset } from '~/utils/permalinks';
import { buttonVariants } from '~/components/ui/button';
import { socialData } from '~/data';
import Socials from '../Socials.astro';

interface LinkItem {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface ActionLink extends LinkItem {
  type?: string;
}

interface MenuLink extends LinkItem {
  links?: Array<LinkItem>;
}

export interface Props {
  links?: Array<MenuLink>;
  actions?: Array<ActionLink>;
  isSticky?: boolean;
  autoHide?: boolean;
  showToggleTheme?: boolean;
  showRssFeed?: boolean;
  position?: string;
  DynamicBg?: boolean;
}

const {
  links = [],
  autoHide = false,
  showToggleTheme = false,
  isSticky = false,
  DynamicBg = true,
  // actions = [],
  // showRssFeed = false,
  // position = 'center',
} = Astro.props;
---

<header class:list={[{ 'pt-10': isSticky }]}>
  <div
    id="header"
    class:list={[
      'z-20 w-full border-border py-1 backdrop-filter transition-all duration-300',
      { 'fixed left-0 top-0': isSticky },
      { 'border-b bg-background/90 backdrop-blur-lg': !DynamicBg },
    ]}
    data-auto-hide={autoHide}
    data-dynamic-bg={DynamicBg}
  >
    <div class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between px-5 py-1">
      <Link class="z-50 flex items-center" href={getHomePermalink()} aria-label="Home">
        <Logo />
      </Link>
      <div class="spacer z-50 flex-grow"></div>
      <div class="z-50 flex space-x-4 md:order-3 md:ml-4">
        {showToggleTheme && <ToggleTheme />}
        <ToggleMenu class={'md:hidden'} />
      </div>
      <nav
        class="h-0 w-full items-center md:order-2 md:flex md:h-auto md:w-auto"
        id="navbar"
        aria-label="Main navigation"
      >
        <!-- desktop menu -->
        <ul class="mt-4 hidden flex-col rounded-lg p-4 text-sm md:mt-0 md:flex md:flex-row md:space-x-3 md:p-0">
          {
            links.map(({ text, href, links }) => (
              <li class:list={[{ dropdown: links?.length }, 'flex']}>
                {links?.length ? (
                  ''
                ) : (
                  <Link class={buttonVariants({ variant: 'ghost' })} href={href}>
                    {text}
                  </Link>
                )}
              </li>
            ))
          }
        </ul>
        <!-- mobile menu -->
        <div class="md:hidden">
          <input type="checkbox" id="mobile-menu-toggle" class="peer/mob-menu hidden" />
          <div
            class="invisible fixed inset-0 z-40 flex flex-col items-center justify-between bg-background/90 p-4 opacity-0 backdrop-blur-lg transition-all duration-300 peer-checked/mob-menu:visible peer-checked/mob-menu:opacity-100"
          >
            <div class="spacer"></div>
            <ul class="w-full items-center justify-center space-y-12 text-center text-4xl font-medium">
              {
                links.map(({ text, href, links }) => (
                  <li class:list={[{ dropdown: links?.length }, '']}>
                    {links?.length ? (
                      ''
                    ) : (
                      <Link
                        class="mobile-menu-link transition-colors duration-300 hover:text-muted-foreground"
                        href={href}
                      >
                        {text}
                      </Link>
                    )}
                  </li>
                ))
              }
            </ul>
            <Socials {...socialData} size="w-4 h-4" class="space-x-1 text-muted-foreground" />
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>

<script>
  function attachEvent(selector, event, fn) {
    const matches = typeof selector === 'string' ? document.querySelectorAll(selector) : selector;
    if (matches && matches.length) {
      matches.forEach((elem) => {
        elem.addEventListener(event, (e) => fn(e, elem), { passive: true });
      });
    }
  }

  const header = document.getElementById('header')!;
  const autoHide = header.hasAttribute('data-auto-hide');
  const DynamicBg = header.hasAttribute('data-dynamic-bg');
  let lastScrollY = window.scrollY;
  let ticking = true;

  function headerBgHandler() {
    // Show header background on scroll
    if (DynamicBg) {
      if (lastScrollY > 100 && !header.classList.contains('scroll')) {
        header.classList.add('scroll');
      } else if (lastScrollY <= 100 && header.classList.contains('scroll')) {
        header.classList.remove('scroll');
      }
    }

    ticking = false;
  }
  headerBgHandler();

  function headerAutoHide() {
    let scrollY = window.scrollY;
    if (autoHide && !document.body.classList.contains('fixed') && Math.abs(scrollY - lastScrollY) > 10) {
      if (scrollY > lastScrollY) {
        header.classList.remove('top-0');
        header.classList.add('-top-24');
      } else {
        header.classList.remove('-top-24');
        header.classList.add('top-0');
      }
    }
  }
  headerAutoHide();

  attachEvent([document], 'scroll', function () {
    headerAutoHide();
    lastScrollY = window.scrollY;

    if (!ticking) {
      window.requestAnimationFrame(() => {
        headerBgHandler();
      });
      ticking = true;
    }
  });

  //* Mobile Menu ---

  function toggleMobileMenu() {
    document.querySelector('[data-aw-toggle-menu]')?.classList.toggle('expanded');
    document.body.classList.toggle('overflow-hidden');
    document.documentElement.classList.toggle('overflow-hidden');
    document.getElementById('mobile-menu-toggle')!.click();
  }

  if (window.matchMedia('(max-width: 768px)').matches) {
    // Toggle menu
    attachEvent('[data-aw-toggle-menu]', 'click', function () {
      toggleMobileMenu();
    });

    // Close menu on link click
    attachEvent('.mobile-menu-link', 'click', function () {
      toggleMobileMenu();
    });
  }
</script>
