---
import Logo from '~/components/Logo.astro';
import ToggleTheme from '~/components/common/ToggleTheme.astro';
import ToggleMenu from '~/components/common/ToggleMenu.astro';
import { Link } from 'astro-link';
import { getHomePermalink, getAsset } from '~/utils/permalinks';
import { buttonVariants } from '~/components/ui/button';
import { socialData } from '~/data';
import Socials from '../Socials.astro';

interface LinkItem {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface ActionLink extends LinkItem {
  type?: string;
}

interface MenuLink extends LinkItem {
  links?: Array<LinkItem>;
}

export interface Props {
  links?: Array<MenuLink>;
  actions?: Array<ActionLink>;
  isSticky?: boolean;
  autoHide?: boolean;
  showToggleTheme?: boolean;
  showRssFeed?: boolean;
  position?: string;
  DynamicBg?: boolean;
}

const {
  links = [],
  autoHide = false,
  showToggleTheme = false,
  isSticky = false,
  DynamicBg = true,
  // actions = [],
  // showRssFeed = false,
  // position = 'center',
} = Astro.props;
---

<header class:list={[{ 'pt-10': isSticky }]}>
  <div
    id="header"
    class:list={[
      'z-20 w-full border-border py-1 backdrop-filter transition-all',
      { 'fixed left-0 top-0': isSticky },
      { 'border-b bg-background/90 backdrop-blur-lg': !DynamicBg },
    ]}
  >
    <div class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between px-5 py-1">
      <Link class="flex items-center" href={getHomePermalink()} aria-label="Home">
        <Logo />
      </Link>
      <div class="spacer flex-grow"></div>
      <div class="flex space-x-4 md:order-3 md:ml-4">
        {showToggleTheme && <ToggleTheme />}
        <ToggleMenu class={'md:hidden z-20'} />
      </div>
      <nav
        class="h-0 w-full items-center md:order-2 md:flex md:h-auto md:w-auto"
        id="navbar"
        aria-label="Main navigation"
      >
        <ul class="mt-4 flex flex-col rounded-lg p-4 text-sm max-md:hidden md:mt-0 md:flex-row md:space-x-3 md:p-0">
          {
            links.map(({ text, href, links }) => (
              <li class:list={[{ dropdown: links?.length }, 'flex']}>
                {links?.length ? (
                  ''
                ) : (
                  <Link class={buttonVariants({ variant: 'ghost' })} href={href}>
                    {text}
                  </Link>
                )}
              </li>
            ))
          }
        </ul>
        <!-- mobile menu -->
        <div>
          <input type="checkbox" id="mobile-menu-toggle" class="peer/mob-menu hidden" />
          <div
            class="fixed left-0 top-0 z-20 h-full w-64 -translate-x-full transform border-r border-border bg-background shadow-lg transition-all duration-500 peer-checked/mob-menu:translate-x-0"
          >
            <div class="flex h-full flex-col px-6 py-4">
              <Link class="flex items-center" href={getHomePermalink()} aria-label="Home">
                <Logo />
              </Link>
              <ul class="my-5 w-full flex-1 space-y-3">
                {
                  links.map(({ text, href, links }) => (
                    <li class:list={[{ dropdown: links?.length }, 'flex']}>
                      {links?.length ? (
                        ''
                      ) : (
                        <Link
                          class={buttonVariants({ variant: 'ghost' }) + ' !block !h-auto w-full !text-xl'}
                          href={href}
                        >
                          {text}
                        </Link>
                      )}
                    </li>
                  ))
                }
              </ul>
              <Socials {...socialData} size="w-4 h-4" class="space-x-1 text-muted-foreground" />
            </div>
          </div>
          <div
            id="mobile-menu-backdrop"
            class="z-15 invisible fixed left-0 top-0 h-screen w-screen transform bg-transparent transition-all duration-500 peer-checked/mob-menu:visible peer-checked/mob-menu:bg-background/70 peer-checked/mob-menu:backdrop-blur-lg"
          >
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>

<script define:vars={{ autoHide, DynamicBg }}>
  function attachEvent(selector, event, fn) {
    const matches = typeof selector === 'string' ? document.querySelectorAll(selector) : selector;
    if (matches && matches.length) {
      matches.forEach((elem) => {
        elem.addEventListener(event, (e) => fn(e, elem), { passive: true });
      });
    }
  }

  let lastScrollY = window.scrollY;
  let ticking = true;

  function headerBgHandler() {
    const header = document.getElementById('header');
    // Show header background on scroll
    if (DynamicBg) {
      if (lastScrollY > 100 && !header.classList.contains('scroll')) {
        header.classList.add('scroll');
      } else if (lastScrollY <= 100 && header.classList.contains('scroll')) {
        header.classList.remove('scroll');
      }
    }

    ticking = false;
  }
  headerBgHandler();

  function headerAutoHide() {
    const header = document.getElementById('header');
    let scrollY = window.scrollY;
    if (autoHide && !document.body.classList.contains('fixed') && Math.abs(scrollY - lastScrollY) > 10) {
      if (scrollY > lastScrollY) {
        header.classList.remove('top-0');
        header.classList.add('-top-24');
      } else {
        header.classList.remove('-top-24');
        header.classList.add('top-0');
      }
    }
  }
  headerAutoHide();

  attachEvent([document], 'scroll', function () {
    headerAutoHide();
    lastScrollY = window.scrollY;

    if (!ticking) {
      window.requestAnimationFrame(() => {
        headerBgHandler();
      });
      ticking = true;
    }
  });

  //* Mobile Menu
  // Close menu on click outside
  attachEvent('#mobile-menu-backdrop', 'click', function () {
    document.querySelector('[data-aw-toggle-menu]')?.classList.remove('expanded');
    document.body.classList.remove('overflow-hidden');
    document.documentElement.classList.remove('overflow-x-hidden');
    document.getElementById('mobile-menu-toggle').click();
  });

  // Toggle menu
  attachEvent('[data-aw-toggle-menu]', 'click', function (_, elem) {
    elem.classList.toggle('expanded');
    document.body.classList.toggle('overflow-hidden');
    document.documentElement.classList.toggle('overflow-x-hidden');
    document.getElementById('mobile-menu-toggle').click();
  });
</script>
