---
import Layout from '~/layouts/PageLayout.astro';

import { Card, CardContent, CardDescription, CardFooter, CardHeader, CardTitle } from '~/components/ui/card';
import { buttonVariants } from '~/components/ui/button';
import { Link } from 'astro-link';
import { headerData, socialData } from '~/data';
import { Icon } from 'astro-icon/components';
import Header from '~/components/widgets/Header.astro';
import { getHomePermalink } from '~/utils/permalinks';
import { Img } from 'astro-imagetools/components';
import { getAvatar } from '~/utils/images';

const meta = {
  title: 'Abdulrahman Almutairi',
  description: '',
  dontUseTitleTemplate: true,
};

const links = socialData.links;
const avatar = await getAvatar();
---

<Layout {meta}>
  <Fragment slot="header">
    <Header {...headerData} showRssFeed showToggleTheme />
  </Fragment>
  <section class="mx-auto pb-5">
    <div
      class="avatar mx-auto h-32 w-32 translate-y-0 transform transition-all duration-500 ease-in-out hover:-translate-y-2"
    >
      <Img src={avatar!.url} alt="" loading="eager" format="webp" />
    </div>
    <h1 class="my-4 font-serif text-4xl font-extrabold leading-none">M6tier</h1>
    <div class="mx-auto flex max-w-2xl flex-col items-center justify-center p-5">
      <!-- <h1 class="mb-5 text-4xl font-bold">Contact</h1> -->
      <Card className="w-[350px] md:w-[550px] md:space-y-2 border-border text-start">
        <CardContent>
          <div class="mt-5 grid w-full items-center gap-4 md:space-y-2">
            {
              links.map(({ ariaLabel, icon, href }) => (
                <Link
                  href={href}
                  title={ariaLabel}
                  data-tooltip-target="tooltip-"
                  class={
                    buttonVariants({ variant: 'default', size: 'lg' }) +
                    'flex items-start justify-start px-4  text-start'
                  }
                >
                  {icon && <Icon name={icon + '-line'} class="mr-2 h-6 w-6" />}
                  {ariaLabel}
                </Link>
              ))
            }
            <Link
              href={getHomePermalink()}
              title="Home"
              class={buttonVariants({ variant: 'outline', size: 'lg' }) +
                'flex items-start justify-start px-4  text-start'}
            >
              <!-- <Icon name='' class="mr-2 h-6 w-6" /> -->
              m6tier.com
            </Link>
          </div>
        </CardContent>
      </Card>
    </div>
  </section>

  <div class="relative" slot="bottom-grid">
    <div class="noise-underlay bg-grid absolute -left-[50vw] bottom-0 -z-50 h-[20rem] w-[150vw]"></div>
  </div>

  <Fragment slot="footer"></Fragment>
</Layout>
