---
import { Icon } from 'astro-icon/components';

import { Button } from '~/components/ui/button';

export interface Props {
  label?: string;
  class?: string;
  iconClass?: string;
  iconName?: string;
  className?: string;
}

const { label = 'Toggle Menu', iconClass = 'w-5 h-5', iconName = 'tabler:menu', className = '' } = Astro.props;
---

<Button variant="outline" size="icon" aria-label={label} data-aw-toggle-menu className={className}>
  <Icon name={iconName} class={iconClass} optimize={false} />
</Button>
